@font-face {
 /* font-family: "biko";
  src: url(biko.otf) format("opentype");*/

  font-family: "neutra";
  src: url(NeutraDispBoldAlt.otf) format("opentype");
}


body{
	background-color: #000;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	font-family: 'neutra', sans-serif;
}

#container{
	
	width:320px;
	height: 450px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;

	background-color: #000;
	background: url('bg.jpg');
	background-repeat: no-repeat;
	position: relative;
	color: #fff;

}

#apptitle{
	width: 300px;
	margin: auto;
}

#apptitle #title{
	width: 281px;
	margin: auto;
	font-size: 32px;
	letter-spacing: 8px;

}
#apptitle #subtitle{
	width: 69px;
	margin: auto;
	letter-spacing: 0px;
	font-size: 20px;
}

#panels{
	
	width:300px;
	margin: auto;
}

#panelleft{
	float: left;
	padding-left: 13px;
	padding-right: 4px;
	position: relative;

}

#panelleft #dayofweek{

	position: absolute;
	width: 135px;
	text-align: center;
	top: 7px;
	font-size: 21px;
}

#panelleft #date{

	position: absolute;
	font-size: 75px;
	top: 26px;
	left: 50px;
}

#panelright{
	float: left;
	position: relative;
}

#panelright #month{

	top: 7px;
	position: absolute;
	margin-left: 10px;
	width: 135px;
	font-size: 21px;
}

#panelright #year{

	padding-left: 10px;
	padding-top: 28px;
	position: absolute;
	font-size: 21px
	
}

#panelright #status{

	padding-left: 10px;
	padding-top: 60px;
	position: absolute;
	width: 136px;
	line-height: 13px;
	font-size: 21px;
	
}




#iconstrip{

width: 274px;
margin: auto;
position: relative;
}

#datepicker{
	position: absolute;
}

#moon{
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

#pointer{
	position:absolute;
	margin-top: 113px;
}

